*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
@media only screen and (max-width: 62.5em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Inter", sans-serif;
  color: #0e1824;
  font-weight: 400;
  line-height: 1.6;
}

.container {
  padding: 3rem 0;
  display: grid;
  grid-template-columns: 6rem repeat(6, [col-start] 1fr [col-end]) 6rem;
  grid-template-rows: repeat(3, -webkit-min-content);
  grid-template-rows: repeat(3, min-content);
  grid-column-gap: 3rem;
  grid-row-gap: 5rem;
}
@media only screen and (max-width: 50em) {
  .container {
    grid-template-columns: 1.5rem repeat(6, [col-start] 1fr [col-end]) 1.5rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .container {
    grid-template-columns: 1rem repeat(6, [col-start] 1fr [col-end]) 1rem;
  }
}

.header {
  grid-column: col-start 1/col-end 6;
  display: grid;
  grid-template-columns: 1fr -webkit-max-content;
  grid-template-columns: 1fr max-content;
  align-items: center;
}
.header__nav {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, -webkit-min-content);
  grid-template-columns: repeat(5, min-content);
  grid-gap: 3rem;
}
.header__link:link, .header__link:visited {
  font-size: 1.4rem;
  text-decoration: none;
  padding: 0.4rem;
  transform: all 0.2s;
}
.header__link:active, .header__link:hover {
  border-bottom: solid 1px #0e1824;
}

.main {
  grid-column: col-start 1/col-end 4;
  display: grid;
  grid-template-columns: repeat(6, [col-start] 1fr [col-end]);
  grid-template-rows: repeat(3, [row-start] -webkit-min-content [row-end]);
  grid-template-rows: repeat(3, [row-start] min-content [row-end]);
  grid-gap: 2rem;
}
@media only screen and (max-width: 50em) {
  .main {
    grid-column: col-start 1/col-end 6;
  }
}
.main__img {
  width: 100%;
  grid-column: 1/-1;
}
@media only screen and (max-width: 50em) {
  .main__img {
    grid-column: col-start 1/col-end 3;
    grid-row: 1/-1;
    height: 115%;
  }
}
@media only screen and (max-width: 37.5em) {
  .main__img {
    grid-column: 1/-1;
    grid-row: 1/2;
  }
}
.main__heading {
  grid-column: col-start 1/col-end 3;
  grid-row: row-start 2/row-end 3;
  font-size: 4.5rem;
  line-height: 1;
}
@media only screen and (max-width: 50em) {
  .main__heading {
    grid-column: col-start 4/col-end 6;
    grid-row: row-start 1/row-end 1;
    margin-top: 2rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .main__heading {
    grid-row: row-start 2/row-end 2;
    grid-column: 1/-1;
  }
}
.main__text {
  grid-column: col-start 4/col-end 6;
  grid-row: row-start 2/row-end 2;
  font-size: 1.3rem;
}
@media only screen and (max-width: 50em) {
  .main__text {
    grid-column: col-start 4/col-end 6;
    grid-row: row-end 1/-1;
  }
}
@media only screen and (max-width: 37.5em) {
  .main__text {
    grid-row: row-start 3/row-end 3;
    grid-column: 1/-1;
  }
}
.main__btn {
  grid-column: col-start 4/col-end 6;
  grid-row: row-start 3/row-end 3;
  justify-self: start;
  align-self: start;
  border: none;
  padding: 9px 18px;
  background-color: rgb(218, 122, 138);
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
}
.main__btn:hover {
  background-color: rgb(218, 97, 117);
}
@media only screen and (max-width: 37.5em) {
  .main__btn {
    grid-row: 4/5;
    grid-column: col-start 1/col-end 3;
  }
}

.update {
  background-color: #0e1824;
  grid-column: col-start 5/col-end 6;
  padding: 3rem;
  display: grid;
  grid-template-rows: -webkit-min-content repeat(3, minmax(-webkit-min-content, 1fr));
  grid-template-rows: min-content repeat(3, minmax(min-content, 1fr));
  grid-gap: 1.5rem;
}
@media only screen and (max-width: 50em) {
  .update {
    grid-column: col-start 1/col-end 6;
    grid-template-columns: repeat(auto-fit, [col-start] minmax 25rem, 1fr [col-end]);
  }
}
@media only screen and (max-width: 37.5em) {
  .update {
    grid-template-columns: 1fr;
  }
}
.update__heading-2 {
  color: #b98b52;
  font-size: 3.3rem;
}
@media only screen and (max-width: 50em) {
  .update__heading-2 {
    -moz-columns: 1/-1;
         columns: 1/-1;
  }
}
.update__heading-3 {
  color: white;
  font-size: 1.6rem;
}
.update__text-0 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.2rem;
}
@media only screen and (max-width: 50em) {
  .update__1 {
    grid-column: 1/2;
    grid-row: 2/-1;
  }
}
@media only screen and (max-width: 37.5em) {
  .update__1 {
    grid-row: 2/3;
    grid-column: 1/-1;
  }
}
@media only screen and (max-width: 50em) {
  .update__2 {
    grid-column: 2/3;
    grid-row: 2/-1;
  }
}
@media only screen and (max-width: 37.5em) {
  .update__2 {
    grid-row: 3/4;
    grid-column: 1/-1;
    margin-top: 1rem;
  }
}
@media only screen and (max-width: 50em) {
  .update__3 {
    grid-column: 3/4;
    grid-row: 2/-1;
  }
}
@media only screen and (max-width: 37.5em) {
  .update__3 {
    grid-row: 4/5;
    grid-column: 1/-1;
    margin-top: 1rem;
  }
}
.update__text {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.2rem;
}
.update__text:after {
  content: "";
  height: 1px;
  display: block;
  background-color: currentColor;
  transform: translateY(3rem);
}
@media only screen and (max-width: 50em) {
  .update__text:after {
    background-color: #0e1824;
  }
}

.topnews {
  grid-column: col-start 1/col-end 6;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 3rem;
}

.topNews {
  display: grid;
  grid-template-columns: -webkit-min-content 1fr;
  grid-template-columns: min-content 1fr;
  grid-auto-rows: repeat(3, -webkit-min-content);
  grid-auto-rows: repeat(3, min-content);
  grid-column-gap: 2rem;
}
.topNews__fig {
  grid-column: 1/2;
  grid-row: 1/4;
}
.topNews__img {
  width: 10rem;
}
.topNews__heading-2 {
  color: rgba(153, 143, 143, 0.7);
  font-size: 3.3rem;
}
.topNews__heading-3 {
  color: #0e1824;
  font-size: 1.6rem;
}
.topNews__text {
  color: rgba(153, 143, 143, 0.7);
  font-size: 1.2rem;
}/*# sourceMappingURL=main.css.map */